html, body{
    height: 100%;
}

.login-page, .register-page{
    background-color: rgb(209, 201, 198);
}

.login-box, .register-logo{
    width: 360px;
    margin: 7% auto;
    text-align: center;
}

.login-logo img{
    max-width: 200px;
    max-height: 200px;
}

.login-box-body, .register-box-body{
    background-color: rgb(233, 232, 232);
    padding: 20px;
    border-top: 0;
    color: #666;
}

.login-box-msg{
    font-size: 22px;
}

#emailHelp{
    text-align: left;
}


